= simple_form_for @manga, defaults: { input_html: { class: 'form-control' }} do |f|
  .well.well-sm.row
    .col-md-3
      .form-group
        = f.label :name
        = f.input_field :name, :autofocus => "autofocus", :autocomplete => "off"

      .form-group
        = f.label :author
        = f.input_field :author

      .form-group
        = f.label :status
        = f.input_field :status, collection: ["En cours", "Terminé"]

    .col-md-9
      = f.label :presentation
      = f.input_field :presentation, rows: 10

  .well.well-sm.row
    .col-md-12
      .form-group
        = label_tag :chapters_number, "Number of chapters", class: "control-label"
        = text_field_tag :chapters_number,  params[:chapters_number], class: "form-control"

  .row
    .col-md-12
      .form-group
        = f.button :submit, :class => "btn-primary"
