.page-header
	%h1= @manga.name
		

%p#notice= notice

.row
	.span9
		.well
			= link_to 'Back', mangas_path, :class => "btn"
			= link_to 'Add chapter', new_manga_chapter_path(@manga), :class => "btn btn-primary"

		= render :partial => "chapters/list", :locals => { :chapters => @manga.chapters }

	.span3.well
		
		.btn-group
			%button.btn.btn-inverse Actions
			%button.btn.dropdown-toggle.btn-inverse{ "data-toggle" => "dropdown"}
				%span.caret

			%ul.dropdown-menu
				%li= link_to 'Edit Manga', edit_manga_path(@manga)
				%li.divider
				%li= link_to 'Destroy Manga', @manga, :confirm => 'Are you sure?', :method => :delete
