.page-header.row
	.span6
		%h1= @manga.name
	.span6.offset3
		.btn-toolbar
			.btn-group
				= link_to 'Edit', edit_manga_path(@manga), :class => "btn"
				= link_to 'Destroy', @manga, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"
			.btn-group
				= link_to 'Add chapter', new_manga_chapter_path(@manga), :class => "btn"

%p#notice= notice

%p
	%b Name:
	= @manga.name

= link_to 'Back', mangas_path, :class => "btn"
