.row-fluid
  .span6
    %form.form-inline
      = select_tag :pages, options_for_select(@manga.ordered_chapters.map {|chapter| ["#{@manga.name} - #{chapter.number}", chapter.number]}, :selected => @chapter.number), :id => "cmbchapters", :onchange => "ChangeChapter()"
  .span6
    %form.form-inline.pull-right
      = link_to raw('&larr; Previous'), "javascript:ChangePage($('#cmbpages :selected').prev().val(),1)", :class => "btn"

      %label Page
      = select_tag :pages, options_for_select(@chapter.ordered_pages.map {|page| [page.number, page.number]}, :selected => @page.number), :id => "cmbpages", :class => "input-mini", :onchange => "ChangePage($('#cmbpages :selected').val(),0)"

      = link_to raw('Next &rarr;'), "javascript:ChangePage($('#cmbpages :selected').next().val(),1)", :class => "btn"

.row-fluid
  .span12
    = link_to "javascript:ChangePage($('#cmbpages :selected').next().val(),1)", :class => "thumbnail" do
      = image_tag @page.image.url