%p#notice= notice

.well
	= link_to 'Add Next Page', new_manga_chapter_page_path(@manga, @chapter)
	\|
	= link_to 'Edit', edit_manga_chapter_page_path(@manga, @chapter, @page)
	\|
	= link_to 'Back', manga_chapter_path(@manga, @chapter)

%div
	- if @page.previous_page
		= link_to 'Previous', manga_chapter_page_path(@manga, @chapter, @page.previous_page)
	\|
	- if @page.next_page
		= link_to 'Next', manga_chapter_page_path(@manga, @chapter, @page.next_page)

%div
	= image_tag @page.image.url



