- if notice	
	%div.alert.alert-success
		%button.close{"data-dismiss"=>"alert"} ×
		%p#notice= notice

%div
	%ul.pager
		%li.previous
			- if @page.previous_page
				= link_to 'Previous', manga_chapter_page_path(@manga, @chapter, @page.previous_page)
			- else
				= link_to 'Back to manga', manga_path(@manga)
		%li.next			
			- if @page.next_page
				= link_to 'Next', manga_chapter_page_path(@manga, @chapter, @page.next_page)
			- else
				= link_to 'Back to manga', manga_path(@manga)

%div
	= image_tag @page.image.url

%div
	%ul.pager
		- if @page.previous_page
			%li.previous
				= link_to 'Previous', manga_chapter_page_path(@manga, @chapter, @page.previous_page)
		- if @page.next_page
			%li.next
				= link_to 'Next', manga_chapter_page_path(@manga, @chapter, @page.next_page)

.well
	= link_to 'Add Next Page', new_manga_chapter_page_path(@manga, @chapter), :class => "btn btn-primary"
	
