
.row
  .form-group.col-md-2
    = select_tag :pages, options_for_select(@manga.ordered_chapters.map {|chapter| ["#{@manga.name} - #{chapter.number}", chapter.number]}, :selected => @chapter.number), :id => "cmbchapters", :onchange => "ChangeChapter()", :class => "form-control"
  .col-md-4.col-md-offset-6
    .row
      .col-md-4
        = link_to raw('&larr; Previous'), "javascript:ChangePage($('#cmbpages :selected').prev().val(),1)", :class => "btn btn-default"
    
      .col-md-4
        = select_tag :pages, options_for_select(@chapter.ordered_pages.map {|page| [page.number, page.number]}, :selected => @page.number), :id => "cmbpages", :class => "input-mini", :onchange => "ChangePage($('#cmbpages :selected').val(),0)", :class => "form-control"
      .col-md-4
        = link_to raw('Next &rarr;'), "javascript:ChangePage($('#cmbpages :selected').next().val(),1)", :class => "btn btn-default"

        

.row
  .col-md-12
    = link_to "javascript:ChangePage($('#cmbpages :selected').next().val(),1)", :class => "thumbnail" do
      = image_tag @page.image.url