- content_for :navmenu do
	%ul.nav
		%li.dropdown 
			%a.dropdown-toggle{"data-toggle" => "dropdown"}
				Go to Chapter
				%b.caret
			%ul.dropdown-menu
				- @manga.chapters.each do |chapter|
					%li= link_to chapter.number, manga_chapter_page_path(@manga, chapter, chapter.pages.first)
		%li.dropdown 
			%a.dropdown-toggle{"data-toggle" => "dropdown"}
				Go to Page
				%b.caret
			%ul.dropdown-menu
				- @chapter.pages.each do |page|
					%li= link_to page.number, manga_chapter_page_path(@manga, @chapter, page)

= render 'nav'

%div
	= link_to (@page.next_page ? manga_chapter_page_path(@manga, @chapter, @page.next_page) : '#'), :class => "thumbnail" do
		= image_tag @page.image.url

= render 'nav'

	
