%p#notice= notice

%p
  %b Number:
  = @page.number
%p
  %b Chapter:
  = @page.chapter

= link_to 'Edit', edit_manga_chapter_page_path(@manga, @chapter, @page)
\|
= link_to 'Back', manga_chapter_path(@manga, @chapter)
