= simple_form_for [@manga,@chapter], defaults: { input_html: { class: 'form-control' }} do |f|
	.well.well-sm.row
		.col-md-6.col-sm-6
			.form-group
				= f.label :number
				= f.input_field :number, :autofocus => "autofocus", :autocomplete => "off"

		.col-md-6.col-sm-6
			.form-group
				= f.label :team
				= f.input_field :team, :class => "typeahead form-control", autocomplete: "off"

	.row
		.col-md-12
			.form-group
				= f.button :submit, :class => "btn-primary"
