%table.table.table-hover.table-bordered
  %thead
    %tr
      %th.span1 #
      %th Team
      %th.span3 Progression
      %th.span2 Action
  %tbody
    - chapters.each do |chapter|
      %tr{:class => "#{chapter.pages.count > 0 ? "" : "error" }"}
        %td= link_to chapter.number, [@manga, chapter]
        %td= chapter.team
        %td
          .progress
            - if chapter.pages.count > 0
              .bar{:style => "width: #{chapter.read_percent}%;"}
        %td
          = link_to [@manga, chapter], class: "btn btn-mini" do
            Go
            %i.icon-chevron-right
    
  