%h1 Listing chapters

%table
  %tr
    %th Number
    %th Manga
    %th
    %th
    %th

  - @chapters.each do |chapter|
    %tr
      %td= chapter.number
      %td= chapter.manga
      %td= link_to 'Show', [@manga, chapter]
      %td= link_to 'Edit', edit_manga_chapter_path(@manga, chapter)
      %td= link_to 'Destroy', [@manga, chapter], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Chapter', new_manga_chapter_path(@manga)
