= link_to 'Back', manga_path(@manga)

.page-header
	.btn-toolbar.pull-right
		.btn-group
			= link_to 'Add Page', new_manga_chapter_page_path(@manga, @chapter), :class => "btn btn-primary"

		.btn-group
			%button.btn.btn-inverse Actions
			%button.btn.dropdown-toggle.btn-inverse{ "data-toggle" => "dropdown"}
				%span.caret

			%ul.dropdown-menu
				%li= link_to 'Edit Chapter', edit_manga_chapter_path(@manga, @chapter)
				%li.divider
				%li= link_to 'Destroy Chapter', [@manga, @chapter], :confirm => 'Are you sure?', :method => :delete
	%h1= @chapter.full_name


%ul.thumbnails
	- @chapter.pages.each do |page|
		%li.span3
			= link_to image_tag(page.image.url), manga_chapter_page_path(@manga, @chapter, page), :class => "thumbnail" 
