.page-header
	.btn-toolbar.pull-right
		.btn-group
			= link_to 'Add Page', new_manga_chapter_page_path(@manga, @chapter), :class => "btn btn-primary"

		.btn-group
			= link_to edit_manga_chapter_path(@manga, @chapter), :class => "btn" do
				%i.icon-pencil
			= link_to [@manga, @chapter], :confirm => 'Are you sure?', :method => :delete, :class => "btn" do
				%i.icon-trash
			
	%h1= @chapter.full_name

= ariane.render

%ul.thumbnails
	- @chapter.ordered_pages.each do |page|
		%li.span3
			= link_to image_tag(page.image.thumb.url), manga_chapter_page_path(@manga, @chapter, page), :class => "thumbnail" 
