.page-header
	%h1= "#{@chapter.manga_name} #{(@chapter.number)}"

%p#notice= notice

= link_to 'Edit', edit_manga_chapter_path(@manga, @chapter)
\|
= link_to 'Back', manga_chapters_path(@manga)

%ul.thumbnails
	- @chapter.pages.each do |page|
		%li.span3
			%a.thumbnail
				= image_tag page.image_url
