.page-header
  .btn-toolbar.pull-right
    .btn-group
      = link_to 'Add Page', new_manga_chapter_page_path(@manga, @chapter), :class => "btn btn-primary"

    .btn-group
      - if @chapter.is_read?
        = link_to unread_manga_chapter_path(@manga, @chapter), :class => "btn btn-default" do
          %span.glyphicon.glyphicon-eye-close
      - else
        = link_to read_manga_chapter_path(@manga, @chapter), :class => "btn btn-default" do
          %span.glyphicon.glyphicon-eye-open

    .btn-group
      = link_to edit_manga_chapter_path(@manga, @chapter), :class => "btn btn-default" do
        %span.glyphicon.glyphicon-pencil
      = link_to [@manga, @chapter], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-default" do
        %span.glyphicon.glyphicon-trash
      
  %h1
    = @chapter.fullname
    - if @chapter.team
      %small
        by
        = @chapter.team

= ariane.render

%section#pages
  .row
    - @chapter.pages.each do |page|
      .col-md-2
        = link_to manga_chapter_page_path(@manga, @chapter, page), :class => "thumbnail text-info" do
          = image_tag(page.image.thumb.url)
        .actions
          = "#{page.number} -"
          = link_to [@manga, @chapter, page], :confirm => 'Are you sure?', :method => :delete, :class => "muted" do
            %span.glyphicon.glyphicon-trash

/ %ul.thumbnails
/   - @chapter.ordered_pages.each do |page|
/     %li.col-md-2
/       = link_to manga_chapter_page_path(@manga, @chapter, page), :class => "thumbnail text-info" do
/         = image_tag(page.image.thumb.url)
/       .actions
/         = "#{page.number} -"
/         = link_to [@manga, @chapter, page], :confirm => 'Are you sure?', :method => :delete, :class => "muted" do
/           %i.icon-trash
