!!! 5
%html
	%head
		%title ScanGallery
		= stylesheet_link_tag    "application", :media => "all"
		= stylesheet_link_tag    "bootstrap", :media => "screen"
		= stylesheet_link_tag    "jquery.plupload.queue", :media => "all"
		
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

		= csrf_meta_tags

	%body
		= render 'shared/navbar'

		.container
			.row
				.col-md-3
					.panel.panel-default
						.panel-heading General
						%ul.list-group
							%li.list-group-item= link_to "Home", root_path, class: "active"
							%li.list-group-item= link_to 'Add Manga', new_manga_path

					.panel.panel-default
						.panel-heading Manga List
						- Manga.order(:name).each do |manga|
							%li.list-group-item
								= link_to manga_path(manga) do 
									= manga.name
									- if manga.unread_chapters_number > 0
										%span.badge.pull-right= manga.unread_chapters_number

				.col-md-9
					= render 'layouts/messages'
					= yield


	= include_gon
	= javascript_include_tag "application"
	= javascript_include_tag "bootstrap"
	= javascript_include_tag "plupload"
	= javascript_include_tag "plupload.full"
	= javascript_include_tag "jquery.plupload.queue"